<tool name="CodeBrowser">  <version>1.0.2</version>  <date>2019-07-31</date>  <container>#.CodeBrowser</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script development="true">Tester</script>    <script>MarkAPL</script>  </needs>  <autoload>1</autoload>  <lx>⍝#.CodeBrowser.Run [namespace(s)]</lx>  <buildid>48</buildid></tool>